<%= render WritingWeb.SharedView, "header.html", Map.put(assigns, :header_title, "Edit Article") %>

<%= render "form.html", Map.put(assigns, :action, article_path(@conn, :update, @article)) %>

<span><%= link "Back", to: article_path(@conn, :index) %></span>
