<div class="admin__articles">
  <h1 class="f1">Your Articles</h1>

  <%= render WritingWeb.SharedView, "articles.html", assigns %>

  <span><%= link "New Article", to: article_path(@conn, :new), class: "button" %></span>
</div>
