<%= render WritingWeb.SharedView, "header.html", assigns %>

<div class="article">
  <h2 class="f1"><%= @article.title %></h2>

  <p class="article__body lh-copy measure">
    <%= @article.body %>
  </p>

</div>