<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Writing!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <main role="main" class="full">
        <%= render @view_module, @view_template, assigns %>
      </main>

    <%= if @is_admin do %>
      <%= render WritingWeb.SharedView, "admin_footer.html", assigns %>
    <%= else %>
      <%= render WritingWeb.SharedView, "footer.html", assigns %>
    <%= end %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/app.js") %>"></script>
  </body>
</html>
