<header class="header flex ab mb2">
  <h1 class="f2 mv0 mr4">
    <a href="/" class="none">w.</a>
  </h1>
  <%= if Map.has_key?(assigns, :header_title) do %>
    <h3 class="f3 mv0"><%= @header_title %></h3>
  <% end %>
</header>