<div class="tags flex sb ac">
  <%= for tag <- @tags do %>
    <div class="tag pr1">
      <a href="<%= page_path(@conn, :tag, tag.label) %>" class="none lightgray"><%= tag.label %></a>
      <span class="sep">.</span>
    </div>
  <% end %>
</div>
