.notes-content {
  flex-grow: 1;

  .notes-list-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .notes-list {
    word-wrap: break-word;
  }

  .notes-messageBox {
    position: relative;
    height: 16rem;

    @include min-screen($medium) {
      margin-bottom: 1rem;
      margin-left: .5rem;
      margin-right: .5rem;
    }

    .notes-createButton {
      padding-left: 2rem;
      padding-right: 2rem;

      @include max-screen($small) {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }

    @include max-screen-height(800px) {
      height: 8rem;
    }

    @include max-screen-height(600px) {
      height: 5rem;
    }
  }

  .notes-editor {
    border-top: solid 2px $border-colour;

    @include min-screen($medium) {
      border-left: solid 2px $border-colour;
      border-right: solid 2px $border-colour;
      border-bottom: solid 2px $border-colour;

      border-radius: .2rem;
    }
  }

  .notes-editor-hint {
    position: absolute;
    right: .5rem;
    bottom: .5rem;
    width: 100%;
    color: rgba($text-dark, .4);
    font-size: 0.8rem;
    text-align: right;

    @include max-screen($small) {
      display: none;
    }
  }

  .note {
    position: relative;

    &:first-of-type {
      > :first-of-type {
        margin-top: 0;
      }
    }

    &-delete {
      position: absolute;
      opacity: 0;
      width: 3rem;
      top: 0;
      left: -2rem;
      cursor: pointer;
      transform: translateX(100vw);

      &:hover {
        @include min-screen($medium) {
          .note-delete {
            opacity: .5;
            transform: translateX(0);
          }
        }
      }
    }

    &:hover {
      @include min-screen($medium) {
        .note-delete {
          opacity: .5;
          transform: translateX(0);
        }
      }
    }
  }
}
