:root {
  --sidebar-max-width: 16rem;
  --sidebar-width: 40%;

  @include max-screen($small) {
    --sidebar-width: 80%;
  }

  @include max-screen($xsmall) {
    --sidebar-width: 80%;
  }

  @include min-screen($medium) {
    --sidebar-width: var(--sidebar-max-width);
  }
}

.notes-page {
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  .notes,
  .sidebar {
    margin: 0;

    transition: left .250s ease-out;
  }

  .sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--sidebar-width);

    @include max-screen($small) {
      left: calc(-1 * var(--sidebar-width));
    }

    .toggle-sidebar {
      color: $secondary-colour;
      font-size: 1.5rem;

      @include min-screen($small) {
        display: none;
      }
    }
  }

  .notes {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    flex-direction: column;

    &-content {
      transition: filter .250s ease-out;
    }

    &-header h1 {
      transition: filter .250s ease-out;
    }
  }

  // Styles for when the sidebar is open
  &.sidebar-open {
    .sidebar {
      left: 0;
      animation: index-up 1s ease-out;
    }

    .notes {
      left: var(--sidebar-width);

      @include max-screen($small) {
        right: calc(-1 * var(--sidebar-width));

        &-list-wrapper {
          filter: blur(4px);
        }

        .ace_content {
          filter: blur(4px);
        }

        &-header p {
          filter: blur(14px);
        }
      }

      .toggle-sidebar {
        @include max-screen($small) {
          display: none;
        }
      }
    }
  }
}

.toggle-sidebar {
  display: inline-block;
  margin-right: 2rem;
  padding-top: .2rem;
  opacity: 0.5;
  color: $text-dark;

  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
