.sidebar {
  position: relative;
  background-color: $sidebar-colour;

  &-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .create-project {
    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

